.page_title {
  color: #6cb4e4;
  text-align: center;
  padding: 0.25em;
  border-top: solid 2px #6cb4e4;
  border-bottom: solid 2px #6cb4e4;
  background: -webkit-repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
  background: repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
}

h1:not(.title-h1) {
  border-bottom: solid 3px skyblue;
  position: relative;
}

h1:after:not(.title-h1) {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 3px #ffc778;
  bottom: -3px;
  width: 30%;
}

.title-h1 {
    font-size: 30px;
    padding-left: 10px;
    padding-top: 10px;
}

.description {
    padding-left: 10px;
    font-size: 13px;
}

h3 {
  font-family: 'Noto Sans JP', sans-serif;
}

ul {
  border: solid 2px #ffb03f;
  padding: 0 0.5em;
  position: relative;
}

ul li {
  line-height: 1.5;
  padding: 0.5em 0 0.5em 1.4em;
  border-bottom: dashed 1px silver;
  list-style-type: none!important;
}

table th {/*table内のthに対して*/
  padding: 10px;/*上下左右10pxずつ*/
  color: #FF9800;/*文字色*/
  background: #fff5e5;/*背景色*/
}

table td {/*table内のtdに対して*/
  padding: 3px 10px;/*上下3pxで左右10px*/
}

table {
  border-collapse: collapse;
  border: solid 2px orange;/*表全体を線で囲う*/
  font-size: 20px;
}
table th, table td {
  border: dashed 1px orange;/**/
  /*破線 1px オレンジ*/
}

#date::before{
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f783";
}

#info::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f129";
}

ul li:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f138";/*アイコン種類*/
  position: absolute;
  left : 0.5em; /*左端からのアイコンまで*/
  color: #ffb03f; /*アイコン色*/
}

ul li:last-of-type {
  border-bottom: none;
}

.title::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f101";/*アイコン種類*/
  left : 0.5em; /*左端からのアイコンまで*/
  color: #ffb03f; /*アイコン色*/
}

a {
    text-decoration: none;
	position: relative;
	padding: 0.1em 0.3em;
	display: inline-block;
	transition: .3s;
  color: #FFA000;
}
a::after {
	position: absolute;
	bottom: 0;
	left: 50%;
	content: '';
	width: 0;
	height: 1px;
	background-color: #FFA000;
	transition: .3s;
	transform: translateX(-50%);
}
a:hover::after {
	width: 100%;
}

a:visited {
    color: red;
}

.left {
    width:720px;
   float:left;
}

.home {
  width:980px;
}

#right {
    width:220px;
    float:right;
}

#page{
    font-size: 17px;
    overflow-wrap: break-word;
    width: 980px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.midasi {
  position: relative;
  background: #eff4ff;
  padding: 5px 5px 5px 20px;
  font-size: 20px;
  color: #474747;
  border-radius: 0 10px 10px 0;
}

.midasi:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f3c5";
  display: inline-block;
  line-height: 40px;
  position: absolute;
  padding: 0em;
  color: white;
  background: #81a1e4;
  width: 40px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  left: -1.35em;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 50%;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.29);
  border-bottom: solid 2px #4967b4;
}

li.L0, li.L1, li.L2, li.L3, li.L4, li.L5, li.L6, li.L7, li.L8, li.L9 {
  list-style-type : decimal;
  border-left: 1px #707070 solid;
  padding-left: 2rem;
}

.checkdiv {
  position: relative;
  margin: 2em 0;
  padding: 0.5em 1em;
  border: solid 3px #95ccff;
  color: #4194e2;
  border-radius: 8px;
}
.checkdiv .divtitle {
  position: absolute;
  display: inline-block;
  top: -13px;
  left: 10px;
  padding: 0 9px;
  line-height: 1;
  font-size: 19px;
  background: #FFF;
  color: #95ccff;
  font-weight: bold;
}
.checkdiv p {
  margin: 0; 
  padding: 0;
}
